// variables, colores, texto..
$red: #CA1551;
$blue : #345995;
$yellow: #EAC435;
$dark : #323232;
$white: #FFF;

.goblin-one-regular {
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
  }


// General
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Goblin One';
}


body{
    background-color: $white;
}

// HEADER ( hacerlo responsive )
header {
    background-color: $red;
    color: $white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // parte izquierda del header ( logo y título )
    .logoContainer{
        width: 5%;
        height: 5%;
        margin-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;

        display: flex;
        flex-direction: row;

        img {
            width: 100%;
            height: 100%;
        }

        h1 {
            font-size: 2rem;
            margin-left: 5%;
            margin-top: 3%;
        }      
    }
    // parte derecha del header ( enlaces mas y login )
    .navegador {
        width: 20%;
        height: 20%;
        margin-right: 20xp;
        
        display: flex;
        justify-content: space-evenly;

        a{
            color: $white;
            text-decoration: none;
            font-size: 2rem;
        }
    }
}

// FOOTER
footer {
    height:5rem ;
    background-color: $red;
    margin-top: 3%;
    padding-top: 1.5%;
    padding-left: 45%;
    padding-right: 1%;

    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-content: center;

    color: $white;

    div {
        img {
            height: 2rem;
        }
    }
}

// main y enlaces hacia la pg de marvel y dc
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    #dc{
        background-image: url("./../img/dcbackground.png");
    }

    #marvel{
        background-image: url("./../img/marvelbackground.png");
    }

    .selector{
        width: 100%;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
        align-items: center;

        .enlaceDC{
            width: 50%;
            margin-top: 2%;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 60%;
                    width: 30%;
                    margin-left: 20%;
                }
            }
            
        }
    
        .enlaceMarvel{
            width: 50%;
            margin-top: 2%;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 50%;
                    width: 60%;
                    margin-left: 20%;
                }
            }
            
        }
    }
    
}

// articulo y heroe del dia

.articleIndex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    button { // boton de favoritos : EDITAR
        background-color: $red;
        color: $yellow;
        
        margin-top: 5%;
        margin-bottom: -2%;
        margin-left: 55%;
    }

    h2{
        color: $blue;
        margin-top: 2%;
    }

    .infoHeroeDia{
        background-color: $blue;
        border-radius: 5px;
        width: 60%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img{
            height: 50%;
            width: 30%;
            margin: 2%;
        }

        .contenidoHeroeDia {
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content:space-between;

            div{
                margin-top: -2%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;

                text-align: center;
                color: $yellow;
                font-size: 2rem;
            }

            p {
                padding-left: 1%;
                padding-right: 2%;

                text-align: center;
                color: $yellow;
            }

            button{   // boton de ver mas : EDITAR
                margin-bottom: -5%;
                margin-left: 20rem;
                width: 10rem;

                text-align: center;
                
                color: $yellow;
                background-color: $red;
            }
        }
    }
}

// INICIO DE SESION
.divFormulario {
    height: 40.1rem;
    background-image: url("./../img/jeffBackground.jpg");
    img {
        height: 100%;
    }
}


.inicioSesionFormulario {
    background-color: $blue;
    margin-top: 2%;
    margin-left: 35%;
    width: 30%;
    height: 100%;
    color : $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .labelInicioSesion{
        margin-top: 2%;

    }

    input {
        margin-top: 2%;
    }

    button {
        margin-bottom: 2%;
        background-color: $red;
        color: $yellow;
    }
}

// REGISTRO

.divRegistro {
    height: 40.1rem;
    background-image: url("./../img/moon.jpg");
    img {
        height: 100%;
    }
}

.registroFormulario{
    background-color: $blue;
    margin-top: 2%;
    width: 35%;
    height: 100%;
    margin-left: 30%;
    color: $white;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .labelRegistro{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    input {
        margin-bottom: 2%;
    }

    .terminos {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-top: 2%;
        margin-bottom: 1%;

        input {
            margin-right: 8px;
        }
    }

    button {
        margin-top: 5%;
        background-color: $red;
        color: $yellow;
    }
    
}


// PERFIL

.h1Perfil{
    text-align: center;
    color: $white;
    background-color: $blue;
}

.perfilContenedor {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    img {
        height: 15%;
        width: 15%;
        border-radius: 5%;

        margin-left: 15%;
    }

    .informacionPerfil{
        background-color: $blue;
        text-align: center;
        width: 30%;

        div {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            color: $yellow;

            margin-top: 2%;
            margin-right: 2%;
            padding: 2%;
        }

        button {
            background-color: $red;
            color: $yellow;
            margin-top: 5%;

        }
    }
}

.favoritosContenedor {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    img{
        height: 30%;
        width: 15%;
    }
}


// LISTADO DE SUPERHEROES

.buscadorFranquiciaContainer {
    background-color: $blue;
    color: $white;

    padding-top: 1%;
    padding-bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
        height: 90%;
        width: 20%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        input {
            border: 1px solid $red;
            border-radius: 5px;
        }
        // editar la imagen de la lupita | poner como boton
    }
}

// reciclo el articleIndex del propio index.html para mostrar las tarjetas


// Información del Superheroe seleccionado

.articuloHeroeTodaSuInformacion {
    background-color: $blue;
    color: $yellow;
    border-radius: 5px;
    
    margin-top: 2%;
    width: 35%;
    height: 100%;
    margin-left: 35%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .infoPrincipalHeroe {
        padding: 2%;
        font-size: 1rem;

        display: flex;
        justify-content: row;
        img {
            height: 50%;
            width: 25%;
        }

        .textoPrincipal {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                margin-top: -5%;
            }
        }
    }

    .contenedorInformacionHeroe {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 0.8rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .h1Perfil {
        color: $yellow;
    }

    // .favoritosContenedor {
        //retocar junto a su div con el mismo nombre en la pg del perfil
    // }
}

// CONTACTO

