.goblin-one-regular {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Goblin One";
}

body {
  background-color: #FFF;
}

header {
  background-color: #CA1551;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logoContainer {
  width: 5%;
  height: 5%;
  margin-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
}
header .logoContainer img {
  width: 100%;
  height: 100%;
}
header .logoContainer h1 {
  font-size: 2rem;
  margin-left: 5%;
  margin-top: 3%;
}
header .navegador {
  width: 20%;
  height: 20%;
  margin-right: 20xp;
  display: flex;
  justify-content: space-evenly;
}
header .navegador a {
  color: #FFF;
  text-decoration: none;
  font-size: 2rem;
}

footer {
  height: 5rem;
  background-color: #CA1551;
  margin-top: 3%;
  padding-top: 1.5%;
  padding-left: 45%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  color: #FFF;
}
footer div img {
  height: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main #dc {
  background-image: url("./../img/dcbackground.png");
}
main #marvel {
  background-image: url("./../img/marvelbackground.png");
}
main .selector {
  width: 100%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .selector .enlaceDC {
  width: 50%;
  margin-top: 2%;
}
main .selector .enlaceDC a {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .selector .enlaceDC a img {
  height: 60%;
  width: 30%;
  margin-left: 20%;
}
main .selector .enlaceMarvel {
  width: 50%;
  margin-top: 2%;
}
main .selector .enlaceMarvel a {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .selector .enlaceMarvel a img {
  height: 50%;
  width: 60%;
  margin-left: 20%;
}

.articleIndex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.articleIndex button {
  background-color: #CA1551;
  color: #EAC435;
  margin-top: 5%;
  margin-bottom: -2%;
  margin-left: 55%;
}
.articleIndex h2 {
  color: #345995;
  margin-top: 2%;
}
.articleIndex .infoHeroeDia {
  background-color: #345995;
  border-radius: 5px;
  width: 60%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.articleIndex .infoHeroeDia img {
  height: 50%;
  width: 30%;
  margin: 2%;
}
.articleIndex .infoHeroeDia .contenidoHeroeDia {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articleIndex .infoHeroeDia .contenidoHeroeDia div {
  margin-top: -2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  color: #EAC435;
  font-size: 2rem;
}
.articleIndex .infoHeroeDia .contenidoHeroeDia p {
  padding-left: 1%;
  padding-right: 2%;
  text-align: center;
  color: #EAC435;
}
.articleIndex .infoHeroeDia .contenidoHeroeDia button {
  margin-bottom: -5%;
  margin-left: 20rem;
  width: 10rem;
  text-align: center;
  color: #EAC435;
  background-color: #CA1551;
}

.divFormulario {
  height: 40.1rem;
  background-image: url("./../img/jeffBackground.jpg");
}
.divFormulario img {
  height: 100%;
}

.inicioSesionFormulario {
  background-color: #345995;
  margin-top: 2%;
  margin-left: 35%;
  width: 30%;
  height: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.inicioSesionFormulario .labelInicioSesion {
  margin-top: 2%;
}
.inicioSesionFormulario input {
  margin-top: 2%;
}
.inicioSesionFormulario button {
  margin-bottom: 2%;
  background-color: #CA1551;
  color: #EAC435;
}

.divRegistro {
  height: 40.1rem;
  background-image: url("./../img/moon.jpg");
}
.divRegistro img {
  height: 100%;
}

.registroFormulario {
  background-color: #345995;
  margin-top: 2%;
  width: 35%;
  height: 100%;
  margin-left: 30%;
  color: #FFF;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.registroFormulario .labelRegistro {
  margin-top: 2%;
  margin-bottom: 2%;
}
.registroFormulario input {
  margin-bottom: 2%;
}
.registroFormulario .terminos {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 1%;
}
.registroFormulario .terminos input {
  margin-right: 8px;
}
.registroFormulario button {
  margin-top: 5%;
  background-color: #CA1551;
  color: #EAC435;
}

.h1Perfil {
  text-align: center;
  color: #FFF;
  background-color: #345995;
}

.perfilContenedor {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.perfilContenedor img {
  height: 15%;
  width: 15%;
  border-radius: 5%;
  margin-left: 15%;
}
.perfilContenedor .informacionPerfil {
  background-color: #345995;
  text-align: center;
  width: 30%;
}
.perfilContenedor .informacionPerfil div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #EAC435;
  margin-top: 2%;
  margin-right: 2%;
  padding: 2%;
}
.perfilContenedor .informacionPerfil button {
  background-color: #CA1551;
  color: #EAC435;
  margin-top: 5%;
}

.favoritosContenedor {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.favoritosContenedor img {
  height: 30%;
  width: 15%;
}

.buscadorFranquiciaContainer {
  background-color: #345995;
  color: #FFF;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buscadorFranquiciaContainer div {
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buscadorFranquiciaContainer div input {
  border: 1px solid #CA1551;
  border-radius: 5px;
}

.articuloHeroeTodaSuInformacion {
  background-color: #345995;
  color: #EAC435;
  border-radius: 5px;
  margin-top: 2%;
  width: 35%;
  height: 100%;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.articuloHeroeTodaSuInformacion .infoPrincipalHeroe {
  padding: 2%;
  font-size: 1rem;
  display: flex;
  justify-content: row;
}
.articuloHeroeTodaSuInformacion .infoPrincipalHeroe img {
  height: 50%;
  width: 25%;
}
.articuloHeroeTodaSuInformacion .infoPrincipalHeroe .textoPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.articuloHeroeTodaSuInformacion .infoPrincipalHeroe .textoPrincipal h2 {
  margin-top: -5%;
}
.articuloHeroeTodaSuInformacion .contenedorInformacionHeroe {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.articuloHeroeTodaSuInformacion .h1Perfil {
  color: #EAC435;
}
.articuloHeroeTodaSuInformacion .favoritosContenedor {
  margin-bottom: 2%;
}
.articuloHeroeTodaSuInformacion .favoritosContenedor button {
  background-color: #345995;
}

.segundoMenu {
  background-color: #345995;
  color: #FFF;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.segundoMenu a {
  color: #FFF;
  text-decoration: none;
}

.contenidoContacto {
  width: 70%;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contenidoContacto img {
  height: 40%;
  width: 40%;
}
.contenidoContacto .formularioContacto {
  background-color: #345995;
  border-radius: 5px;
  width: 30%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contenidoContacto .formularioContacto input {
  border-radius: 5px;
}
.contenidoContacto .formularioContacto button {
  width: 30%;
  height: 20%;
}
.contenidoContacto .formularioContacto button img {
  background-color: #345995;
  height: 100%;
  width: 100%;
}

.contenedorAPI {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contenedorAPI .textoYLogo h3 {
  background-color: #345995;
  color: #FFF;
  border-radius: 5px;
}
.contenedorAPI .textoYLogo img {
  height: 100%;
  width: 100%;
}
.contenedorAPI .api {
  background-color: #345995;
  border-radius: 5px;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contenedorAPI .api button {
  background-color: #345995;
  margin-bottom: -10%;
  border-radius: 5px;
}
.contenedorAPI .api button img {
  height: 70%;
  width: 80%;
}

.contenedor404 {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contenedor404 button {
  width: 40%;
  height: 40%;
}

#logo {
  width: 30%;
  height: 30%;
}/*# sourceMappingURL=style.css.map */